<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/spaces">Spaces</a>
    <h1><%= @space.name %></h1>
    <p><%= @space.description %></p>
    <p>£<%= @space.price %> per night</p>
    <% if session[:user_id] %>
    <form action="/bookings" method="POST">
      <h2>Would you like to book?</h2>
      <label for="date">Arrival date:</label>
      <input type="date" name="date" id="date">
      <input type="hidden" name = "space_id" value="<%= @space.id %>">
      <button type="submit">Request Booking</button>
    </form>
    <% end %>
  </body>
</html>