<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>List a Space</title>
  </head>
  <body>
  <%= erb :'partials/header' %>
  <h1>List a Space</h1>
  <form action="/spaces" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <label for="description">Description:</label>
    <input type="text" name="description" id="description">
    <label for="price">Price per night (£):</label>
    <input type="text" name="price" id="price">
    <button type="submit">List my Space</button>
  </form>
  </body>
</html>